/*
Theme Name:   Veen Child
Theme URI:    https://1.envato.market/wp-veen-preview
Author: EstudioPatagon
Author URI: https://1.envato.market/ep-portfolio-themes
Description:  Child theme, based on Veen
Template: veen

*/

/* Add your custom code just below */


body.single .grid-container {
  max-width: 1400px;
}


div.ez-toc-widget-container {
  border-left: 1px solid #dadde1;
  padding-left: 20px;
}
div.ez-toc-widget-container ul.ez-toc-list {
  padding: 0;
}
.ez-toc-widget-container ul.ez-toc-list li::before {
  display: none !important;
}
.ez-toc-widget-container li > a {
  font-size: 16px;
  color: #606770;
}
.ez-toc-widget-container li.active > a {
  color: #ff486a;
}
.ez-toc-widget-container ul.ez-toc-list li a::before {
  display: none !important;
}