/*
Theme Name:   Veen Child
Theme URI:    https://1.envato.market/wp-veen-preview
Author: EstudioPatagon
Author URI: https://1.envato.market/ep-portfolio-themes
Description:  Child theme, based on Veen
Template: veen

*/

/* Add your custom code just below */
.ez-toc-widget-container li {
  /* font-size: 14px; */
}
body.single .grid-container {
  max-width: 1400px;
}